body {
  font-family: Arial, Helvetica, sans-serif;
}

.cityName {
  color: #202124;
  display: inline-block;
  vertical-align: top;
  font-size: 35px;
  font-weight: 150;
  margin-bottom: 0;
}

li {
  list-style: none;
  color: #70757a;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.characteristics {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}

.appWrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weatherBoarder {
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.overView {
  margin-bottom: 20px;
}
.weatherTemperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weatherTemperature strong {
  color: #202124;
  display: inline-block;
  line-height: 64px;
  vertical-align: top;
  font-size: 45px;
  font-weight: 200;
}

.weatherTemperature .units {
  position: relative;
  font-size: 15px;
  top: -10px;
  padding: 5px;
}
